# dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# production
dist/
build/

# misc
.DS_Store
.env
.env.local
.env.*.local

# IDEs/editors
.vscode/
.idea/
*.swp
*.swo
*.log

# TypeScript
*.tsbuildinfo

# Optional: lock files if you don’t want to commit them
# package-lock.json
# yarn.lock
# pnpm-lock.yaml

test-react-scoped-events
demo-react-scoped-events